.header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 13%;
  font-size: 30px;
  padding: 11px 21px;
}
.header-container__logo {
  background-color: #40483a;
  border-radius: 20px;
  padding: 10px 0px;
  text-align: center;
  min-width: 236px;
  width: 20.5%;
  height: 68%;
  color: white;
  font-weight: bold;
  box-shadow: 8px 6px 5px -2px rgba(66, 68, 90, 1);
}
